{% extends 'layout.html' %}

{% block body %}
{% if allevent|length == 0 %}
<h1>No Event Posted</h1>
{% else %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Eligibility</th>
            <th scope="col">Event Date</th>
            <th scope="col">Registration Starts</th>
            <th scope="col">Registration Ends</th>
            <th scope="col">Registration Link</th>
            <th scope="col">Event Description</th>
        </tr>
    </thead>
    <tbody>
        {% for a in allevent %}
        <tr>
            <td>{{a.title}}</td>
            <td>{{a.eligibility}}</td>
            <td>{{a.edob}}</td>
            <td>{{a.rsdob}}</td>
            <td>{{a.rddob}}</td>
            <td><a href="{{a.link}}">{{a.link}}</a></td>
            <td>{{a.ed}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}