{% extends "layout.html"%}

{% block body%}
<div class="container">
    <!-- <h2>{{user.user_type}}</h2> -->
    <h3>"LEARNING GIVES CREATIVITY
        CREATIVITY LEADS TO THINKING
        THINKING PROVIDES KNOWLEDGE
        KNOWLEDGE MAKES YOU GREAT " --DR.A.P.J.ABDUL KALAM</h3>
    <br><br>
    <h1>WHY?</h1>
    <h6> Our school NEXUS was started in the year 1990 with around of 80 teachers
        and 500 students.
        Now our school has placed a name and gained the trust of people by giving education with excellent results.
        Our school have achieved many milestones through these years by our friendly staffs and the sports that we
        conducted
        for many years.
        We also provide extra curricular activities for the development of students inner talents to shine even brighter
        in
        their future.
        We hope the best for the future of the students.</h6>
    <br><br>
    <h1>
        OUR MISSION
    </h1>

    <h6>
        To create disproptionate incremental value for our stakeholders across the entire chain spanning
        students-educational institutes-corporate-thought leaders-working professionals by creating a global
        professional development enterprise, providing innovative services driven through disruptive knowledge"
    </h6>

    <h1>
        OUR VISSION
    </h1>
    <h6>
        A world endowed with the wealth of knowledge and the strength of discrimination, a culture that
        facilitates the sprouting and dissemination of knowledge in a wholesome manner, an empowered human being
        who can facilitate the search of humanity for true knowledge and a system which helps develop
        individuals of noble character, who together build a world of love and harmony.
    </h6>

</div>
{%endblock%}